:host {
  --total: 300; /* total particles */
  --orb-size: 100px;
  --particle-size: 5px; /* increased particle size */
  --time: 25s;
  --base-hue: 270; /* change for different colors (210 for a blue hue) */
}

.wrap {
  position: absolute;
  top: 56%;
  right: 28%;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: rotate var(--time) infinite linear; /* rotate orb */
}

@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.c {
  position: absolute;
  width: var(--particle-size);
  height: var(--particle-size);
  border-radius: 50%;
  opacity: 0;
}
